{% extends './layout.Twig' %}

{% block header %}
    <div class="navbar-custom">
        <div class="topbar">
            <div class="topbar-menu d-flex align-items-center gap-lg-2 gap-1">
                <!-- Brand Logo -->
                <div class="logo-box">
                    <!-- Brand Logo Light -->
                    <a href="{{ url('index') }}" class="logo-light">
                        <img src="{{ __PUBLIC__('images/logo-light.png') }}" alt="logo" class="logo-lg" height="42" width="42">
                    </a>
                    <!-- Brand Logo Dark -->
                    <a href="{{ url('index') }}" class="logo-dark">
                        <img src="{{ __PUBLIC__('images/logo-dark.png') }}" alt="dark logo" class="logo-lg" height="42" width="42">
                    </a>
                </div>

                <!-- Menu Start -->
                <div class="main-menu">
                    <!--- Menu -->
                    <ul class="app-menu m-0">
                        <li class="menu-item">
                            <a href="/" class="menu-link waves-effect">
                                <span class="menu-text">{{ trans("Latest") }}</span>
                                <span class="badge bg-primary rounded-pill ms-auto">17</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="apps-calendar.html" class="menu-link waves-effect">
                                <span class="menu-text">{{ trans("Premium Code") }}</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="#menuElements" data-bs-toggle="collapse" class="menu-link waves-effect">
                                <span class="menu-text">{{ trans("Program") }}</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="menuElements">
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="#menuComponentsui" data-bs-toggle="collapse" class="menu-link waves-effect">
                                            <span class="menu-icon"><i class="bx bx-cookie"></i></span>
                                            <span class="menu-text">PHP</span>
                                            <span class="menu-arrow"></span>
                                        </a>
                                        <div class="collapse" id="menuComponentsui">
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="ui-alerts.html" class="menu-link">
                                                        <span class="menu-text">Web3/区块链</span>
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="ui-avatars.html" class="menu-link">
                                                        <span class="menu-text">商城系统</span>
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="ui-buttons.html" class="menu-link">
                                                        <span class="menu-text">CMS内容系统</span>
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="ui-cards.html" class="menu-link">
                                                        <span class="menu-text">游戏</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#menuExtendedui" data-bs-toggle="collapse" class="menu-link waves-effect">
                                            <span class="menu-icon"><i class="bx bx-briefcase-alt-2"></i></span>
                                            <span class="menu-text">Java</span>
                                            <span class="menu-arrow"></span>
                                        </a>
                                        <div class="collapse" id="menuExtendedui">
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="components-range-slider.html" class="menu-link">
                                                        <span class="menu-text">Range Slider</span>
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="components-sweet-alert.html" class="menu-link">
                                                        <span class="menu-text">Sweet Alert</span>
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="components-loading-buttons.html" class="menu-link">
                                                        <span class="menu-text">Loading Buttons</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#menuIcons" data-bs-toggle="collapse" class="menu-link waves-effect">
                                            <span class="menu-icon"><i class="bx bx-aperture"></i></span>
                                            <span class="menu-text">Node</span>
                                            <span class="menu-arrow"></span>
                                        </a>
                                        <div class="collapse" id="menuIcons">
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="icons-boxicons.html" class="menu-link">
                                                        <span class="menu-text">Boxicons</span>
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="icons-lucide.html" class="menu-link">
                                                        <span class="menu-text">Lucide Icons</span>
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="icons-mdi.html" class="menu-link">
                                                        <span class="menu-text">Material Design Icons</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#menuForms" data-bs-toggle="collapse" class="menu-link waves-effect">
                                            <span class="menu-icon"><i class="bx bxs-eraser"></i></span>
                                            <span class="menu-text">Go</span>
                                            <span class="menu-arrow"></span>
                                        </a>
                                        <div class="collapse" id="menuForms">
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="forms-elements.html" class="menu-link">
                                                        <span class="menu-text">General Elements</span>
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="forms-advanced.html" class="menu-link">
                                                        <span class="menu-text">Advanced</span>
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="forms-validation.html" class="menu-link">
                                                        <span class="menu-text">Validation</span>
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="forms-quilljs.html" class="menu-link">
                                                        <span class="menu-text">Editor</span>
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="forms-file-uploads.html" class="menu-link">
                                                        <span class="menu-text">File Uploads</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#menuTables" data-bs-toggle="collapse" class="menu-link waves-effect">
                                            <span class="menu-icon"><i class="bx bx-table"></i></span>
                                            <span class="menu-text">Python</span>
                                            <span class="menu-arrow"></span>
                                        </a>
                                        <div class="collapse" id="menuTables">
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="tables-basic.html" class="menu-link">
                                                        <span class="menu-text">Basic Tables</span>
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="tables-datatables.html" class="menu-link">
                                                        <span class="menu-text">Data Tables</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#menuCharts" data-bs-toggle="collapse" class="menu-link waves-effect">
                                            <span class="menu-icon"><i class="bx bx-doughnut-chart"></i></span>
                                            <span class="menu-text">.Net</span>
                                            <span class="menu-arrow"></span>
                                        </a>
                                        <div class="collapse" id="menuCharts">
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="charts-apex.html" class="menu-link">
                                                        <span class="menu-text">Apex Charts</span>
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="charts-morris.html" class="menu-link">
                                                        <span class="menu-text">Morris Charts</span>
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="charts-chartjs.html" class="menu-link">
                                                        <span class="menu-text">Chartjs Charts</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#menuMaps" data-bs-toggle="collapse" class="menu-link waves-effect">
                                            <span class="menu-icon"><i class="bx bx-map-alt"></i></span>
                                            <span class="menu-text">Html</span>
                                            <span class="menu-arrow"></span>
                                        </a>
                                        <div class="collapse" id="menuMaps">
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="maps-google.html" class="menu-link">
                                                        <span class="menu-text">Google Maps</span>
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="maps-vector.html" class="menu-link">
                                                        <span class="menu-text">Vector Maps</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="menu-item">
                            <a href="apps-calendar.html" class="menu-link waves-effect">
                                <span class="menu-text">{{ trans("Document") }}</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="apps-calendar.html" class="menu-link waves-effect">
                                <span class="menu-text">{{ trans("Crowdfund") }}</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <ul class="topbar-menu d-flex align-items-center gap-4">
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-light arrow-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <i class="mdi mdi-magnify font-size-24"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-animated dropdown-menu-end dropdown-lg p-0">
                        <form class="p-3">
                            <input type="search" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                        </form>
                    </div>
                </li>
                <li>
                    <a href="{{ url('user.login') }}" class="nav-link">{{ trans("Sign in") }}</a>
                </li>
                <li>
                    <a href="{{ url('user.register') }}" class="btn btn-outline-primary rounded-pill waves-effect waves-light">{{ trans("Sign up") }}</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block main %}
{% endblock %}

{% block footer %}
    {#    <footer class="footer"> #}
    {#        <div class="container-fluid"> #}
    {#            <div class="row"> #}
    {#                <div class="col-md-6"> #}
    {#                    <div> #}
    {#                        <script>document.write(new Date().getFullYear())</script> #}
    {#                        © Lunoz #}
    {#                    </div> #}
    {#                </div> #}
    {#                <div class="col-md-6"> #}
    {#                    <div class="d-none d-md-flex gap-4 align-item-center justify-content-md-end"> #}
    {#                        <p class="mb-0">Design & Develop by <a href="https://myrathemes.com/" target="_blank">MyraStudio</a></p> #}
    {#                    </div> #}
    {#                </div> #}
    {#            </div> #}
    {#        </div> #}
    {#    </footer> #}
{% endblock %}

