<!DOCTYPE html>
<html
        lang="{{ lang }}"
        data-layout="{% block layout %}horizontal{% endblock %}"
        data-menu-color="{% block menuColor %}light{% endblock %}"
        data-topbar-color="{% block topbarColor %}light{% endblock %}"
        data-bs-theme="{% block bsTheme %}light{% endblock %}
">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="{{ system_name }}" name="application-name"/>
    <meta content="{{ version }}" name="version"/>
    <meta content="{{ base_uri }}" name="base_uri"/>
    <meta content="{{ csrf_token() }}" name="csrf-token"/>
    <title>
        {% block title %}
            {{ trans("Site title") }}
        {% endblock %}
    </title>
    <!-- App favicon -->
    <link href="{{ __PUBLIC__('images/favicon.ico') }}" rel="shortcut icon"/>
    <!-- App css -->
    <link href="{{ __PUBLIC__('css/style.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ __PUBLIC__('css/icons.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ __PUBLIC__('css/customize.css') }}" rel="stylesheet" type="text/css">
    <!-- App script -->
    <script type="text/javascript" src="{{ __PUBLIC__('js/do.min.js') }}"></script>
    <script type="text/javascript" src="{{ __PUBLIC__('js/package.js') }}"></script>
</head>
<body>
{% block container %}
    <div class="layout-wrapper">
        <div class="page-content">
            {% block header %}{% endblock %}
            {% block main %}{% endblock %}
            {% block footer %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        Do('base', () => {
            NProgress.start();
            NProgress.done();
        });
    </script>
{% endblock %}
</body>
</html>