<!DOCTYPE html>
<html lang="{{ lang }}" data-menu-color="{% block menu_color %}light{% endblock %}" data-topbar-color="{% block topbar_color %}light{% endblock %}" data-bs-theme="{% block bs_theme %}light{% endblock %}">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="{{ system_name }}" name="application-name"/>
    <meta content="{{ version }}" name="version"/>
    <meta content="{{ base_uri }}" name="base_uri"/>
    <meta content="{{ csrf_token() }}" name="csrf-token"/>
    <title>
        {% block title %}{{ trans("Site title") }}{% endblock %}
    </title>
    <!-- Favicon -->
    <link href="{{ __PUBLIC__('favicon.ico') }}" rel="shortcut icon"/>
    <!-- Css -->
    <link href="{{ __ASSETS__('css/style.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ __ASSETS__('css/icons.min.css') }}" rel="stylesheet" type="text/css">
    <!-- Script -->
    <script type="text/javascript" src="{{ __ASSETS__('js/do.min.js') }}"></script>
    <script type="text/javascript" src="{{ __ASSETS__('js/package.js') }}"></script>
</head>
{% block body %}
    <body>
    {% block layout_wrapper %}
        <div class="layout-wrapper">
            {% block left_sidebar %}{% endblock %}
            {% block page_content %}{% endblock %}
        </div>
    {% endblock %}
    {% block script %}
        <script type="text/javascript">
            Do('base', () => {
                NProgress.start();
                NProgress.done();
            });
        </script>
    {% endblock %}
    </body>
{% endblock %}
</html>