{% extends './layout.twig' %}
{% block title %}{{ trans("Sign in to Hoym") }} · {{ trans("Site title") }}{% endblock %}

{% block container %}
    <div class="p-5 min-vh-100">
        <div class="row justify-content-center">
            {% block main %}
                <div class="login-box">
                    <div class="text-center mx-auto auth-logo" style="width: 68px;margin-bottom: 2rem">
                        <a href="{{ url('index') }}" class="logo-dark">
                            <img class="rounded-circle" src="{{ __PUBLIC__('images/logo-dark.png') }}" alt="{{ trans("Site title") }} }}" height="68" width="68">
                        </a>
                        <a href="{{ url('index') }}" class="logo-light">
                            <img class="rounded-circle" src="{{ __PUBLIC__('images/logo-light.png') }}" alt="{{ trans("Site title") }} }}" height="68" width="68">
                        </a>
                    </div>
                    <div class="card">
                        <div class="card-body p-4">
                            <form id="form" action="{{ url('user.login') }}">
                                <div class="form-group mb-2 mt-2">
                                    <label class="form-label" for="username">{{ trans("Username or email address") }}</label>
                                    <input class="form-control" name="username" type="text" id="username" data-rule="required" autocomplete="off">
                                    <span class="msg-box d-block" style="height: 1.3125rem;" for="username"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <a href="{{ url('user.forget') }}" class="float-end" tabindex="-1">{{ trans("Forgot password?") }}</a>
                                    <label class="form-label" for="password">{{ trans("Password") }}</label>
                                    <input class="form-control" name="password" type="password" data-rule="required" id="password">
                                    <span class="msg-box d-block" style="height: 1.3125rem;" for="password"></span>
                                </div>
                                <div class="form-group text-center mb-4">
                                    <button class="btn btn-primary waves-effect waves-light w-100" type="submit">{{ trans("Sign in") }}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="text-center">
                        <p class="m-2">{{ trans("Don't have an account?") }}<a href="{{ url('user.register') }}" tabindex="-1">{{ trans("Sign up") }}</a></p>
                    </div>
                </div>
            {% endblock %}
            {% block footer %}
                <div class="row mt-3 d-none">
                    <div class="col-12 text-center"></div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        Do('base', 'form', () => {
            NProgress.start();
            NProgress.done();
            $('#form').isForm();
        });
    </script>
{% endblock %}
