{% extends './layout.Twig' %}
{% block title %}{{ trans("manage.index.login.pageTitle") }}{% endblock %}
{% block body %}
    <body class="bg-primary d-flex justify-content-center align-items-center min-vh-100 p-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-md-5">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="text-center w-50 mx-auto auth-logo mt-2 mb-4">
                            <a href="{{ url('index') }}" class="logo-dark">
                                <img src="{{ __ASSETS__('images/logo-dark.png') }}" alt="" height="22">
                            </a>
                            <a href="{{ url('index') }}" class="logo-light">
                                <img src="{{ __ASSETS__('images/logo-light.png') }}" alt="" height="22">
                            </a>
                        </div>
                        <form class="mb-4" id="form" action="{{ url('manage.login') }}" autocomplete="off">
                            <div class="form-group mb-4">
                                <label class="form-label" for="email">{{ trans("manage.index.login.emailAddress") }}</label>
                                <div class="input-group">
                                    <input class="form-control" name="email" type="email" id="email" data-rule="required" placeholder="{{ trans("manage.index.login.enterEmail") }}" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label class="form-label" for="password">{{ trans("manage.index.login.password") }}</label>
                                <div class="input-group">
                                    <input class="form-control" name="password" type="password" data-rule="required" id="password" placeholder="{{ trans("manage.index.login.enterYourPassword") }}" autocomplete="new-password">
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label class="form-label" for="captcha">{{ trans("manage.index.login.captcha") }}</label>
                                <div class="input-group">
                                    <input class="form-control" name="captcha" type="text" data-rule="required" id="captcha" placeholder="{{ trans("manage.index.login.enterCaptcha") }}" autocomplete="new-password">
                                    <div class="captcha">
                                        <img id="captchaImg" src="{{ url('common.captcha', {'type': 'login-captcha'}) }}" alt="captcha" style="cursor:pointer"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <input class="form-check-input" type="checkbox" id="rememberMe" checked>
                                <label class="form-check-label ms-2" for="rememberMe">{{ trans("manage.index.login.rememberMe") }}</label>
                            </div>
                            <div class="form-group mb-0 text-center">
                                <button class="btn btn-primary w-100" type="submit">{{ trans("manage.index.login.logIn") }}</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end card -->
                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p class="text-white-50">
                            <span>Powered by <a href="{{ base_uri }}" class="text-white font-weight-medium ms-1">{{ system_name }} {{ version }}</a></span>
                            <span>© 2010-<script>document.write(new Date().getFullYear())</script></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        Do('base', 'form', () => {
            NProgress.start();
            NProgress.done();
            $('#form').isForm();

            // 点击验证码图片时刷新
            $('#captchaImg').on('click', function () {
                refreshCaptcha(this);
            });

            // 验证码刷新函数
            function refreshCaptcha(selector) {
                const url = "{{ url('common.captcha', {'type': 'login-captcha'}) }}";
                $(selector).attr('src', url + '?t=' + new Date().getTime());
            }
        });
    </script>
    </body>
{% endblock %}